<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Recipe</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h2>Add a Recipe</h2>
    <form method="POST" action="{{ url_for('add_recipe') }}">
        <input type="text" id="fname" name="fname" placeholder="Your Recipe Name"/>
        <br>
        <textarea id="fingredients" name="fingredients" placeholder="Ingredients"></textarea>
        <br>
        <textarea id="finstructions" name="finstructions" placeholder="Recipe Instructions"></textarea>
        <br>
        <input type="text" id="ftime" name="ftime" placeholder="Total Time for Recipe"/>
        <br>
        <input type="submit" value="Save">
    </form>

    <button id="backButton">Back</button>
    <script>
        
        document.getElementById('backButton').addEventListener('click', function() {
            
            window.history.back();
        });
    </script>
</body>
</html>
