
<h2>Add a Recipe</h2>
<form method="POST" action="{{ url_for('add_recipe') }}">
  <input type="text" id="fname" name="fname" placeholder="Your Recipe Name"/>
  <br />
  <textarea type="text" id="fingredients" name="fingredients" placeholder="Ingredients"></textarea>
  <br />
  <textarea type="text" id="finstructions" name="finstructions" placeholder="Recipe Instructions"></textarea>
  <br />
  <input type="text" id="ftime" name="ftime" placeholder="Total Time for Recipe"/>
  <br />
  <input type="submit" value="Save" />
</form>