<head>
  <h1>Recipes Organizer</h1>
</head>
<body>
  <button id="addRecipeButton">Add Recipe</button>
  <script>
    // Add JavaScript to handle button click event
    document.getElementById('addRecipeButton').addEventListener('click', function() {
        // Redirect to the /newpage route
        window.location.href = '/add';
    });
  </script>
  <button id="searchRecipeButton">Search for Recipes</button>
  <script>
    // Add JavaScript to handle button click event
    document.getElementById('searchRecipeButton').addEventListener('click', function() {
        // Redirect to the /newpage route
        window.location.href = '/search';
    });
  </script>
  <section class="posts">
      <!--<article class="post new-post">
          {% include 'add_recipe_form.html' %}
      </article>
      -->
      {% for recipe in recipes %}
      <article class="post">
          <p class="recipe-name">
              {{recipe.name}} 
          </p>
          <p class="time">
              {{ recipe.time }}
          </p>
          <p>
            <button id="moreButton">Cook!</button>
            <script>
              // Add JavaScript to handle button click event
              document.getElementById('addRecipeButton').addEventListener('click', function() {
                  // Redirect to the /newpage route
                  window.location.href = '/add';
              });
            </script>
          </p>
      </article>
      {%endfor%}
  </section>
</body>