<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Instructions</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <h1>{{ recipe.name }}</h1>
  <h3>Cook Time: </h2>{{ recipe.time }}
  <h2>Ingredients</h2>
  <p>{{ recipe.ingredients }}</p>
  <h2>Instructions</h2>
  <p>{{ recipe.instructions }}</p>


  <form action="{{ url_for('edit', recipe_id=recipe['_id']) }}" method = "GET">
    <button type="submit">Edit Recipe</button>
  </form>

  <form action="{{ url_for('delete_recipe', recipe_id=recipe['_id']) }}" method = "GET">
    <button type="submit">Delete Recipe</button>
  </form>

  
  <p>
    <button onclick="goToHomePage()">Go Back to Home</button>

    <script>
      function goToHomePage() {
        window.location.href = "/";
      }
    </script>
  </p>
</body>

