<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Instructions</title>
</head>
<body>
  <h1>{{ recipe.name }}</h1>
  <h3>Cook Time: </h2>{{ recipe.time }}
  <h2>Ingredients</h2>
  <p>{{ recipe.ingredients }}</p>
  <h2>Instructions</h2>
  <p>{{ recipe.instructions }}</p>

  <button id="editRecipeButton">Edit This Recipe</button>
  <script>
    // Add JavaScript to handle button click event
    document.getElementById('editRecipeButton').addEventListener('click', function() {
        // Redirect to the /newpage route
        window.location.href = '/edit';
    });
  </script>

  <form action="{{ url_for('delete_recipe', recipe_id=recipe['_id']) }}" method = "GET">
    <button type="submit">Delete Recipe</button>
  </form>

  
  <p>
    <button id="backButton">Return to Recipe List</button>
    <script>
        // Add JavaScript to handle the back button click event
        document.getElementById('backButton').addEventListener('click', function() {
            // Navigate back in the browser's history
            window.history.back();
        });
    </script>
  </p>
</body>

