<!-- Search Page -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <h1><center>Search for a Recipe</center></h1>
        <form action="{{ url_for('search') }}" class="example" method="post" action="" style="margin:auto;width:1000px">
            <input style="width:300px" type="text" placeholder="Search..." name="query">
            
            <button type="submit" class="search-btn">search</button>
            <br>
            <select name="option">
                <option value="" disabled selected>Search Option</option>
                <option value="recipe_name">Recipe Name</option>
                <option value="ingredients">Ingredients</option>
                <option value="instruction">Instructions</option>
                <option value="cook_time">Cook Time</option>
            </select>
        </form>
        <section class="list">
            {% for doc in docs %}
            <article class="list-box">
                <p class="recipe-name">Recipe: {{ doc.name }}</p>
                <p class="recipe-ingredient">Ingredients: {{ doc.ingredients }}</p>
                <p class="recipe-instructions">Instructions: {{ doc.instructions }}</p>
                <p class="recipe-cooktime">Cook Time: {{ doc.time }}</p>      
            </article>
            {%endfor%}
        </section>
        <p></p>
    </body>
</html>