<!-- Search Page -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <h1><center>Search for a Recipe</center></h1>
        <form action="{{ url_for('search') }}" class="searchpage" method="post" action="" style="margin:auto;width:1000px">
            <input style="width:240px" type="text" placeholder="Search..." name="search_query">
            
            <button type="submit" class="search-btn">Search</button>
            <br>

            <select name="search_option">
                <option value="" disabled selected>Search Option</option>
                <option value="recipe_name">Recipe Name</option>
                <option value="ingredients">Ingredients</option>
                <option value="time">Cook Time</option>
            </select>
        </form>

        <br>
        <br>

        <p>
            <button style="width:190px" onclick="goToSearchPage()">Clear Search Result</button>
        
            <script>
                function goToSearchPage() {
                window.location.href = "/search_initial";
                }
            </script>
        </p>

        <p>
            <button style="width:190px" onclick="goToHomePage()">Go Back to Home</button>
        
            <script>
                function goToHomePage() {
                    window.location.href = "/";
                }
            </script> 
        </p>
        
        <br>

    </body>
</html>